code/week-2/6-day/n8n-workflows/telegram_personal_bot_openai.json
{
  "name": "Telegram Personal Bot (OpenAI)",
  "nodes": [
    {
      "parameters": {
        "content": "## Telegram Personal Bot — Настройка\n\n**1. Создай бота в Telegram:**\n- Напиши [@BotFather](https://t.me/BotFather) → `/newbot`\n- Скопируй полученный **Bot Token**\n\n**2. Добавь credentials в n8n:**\n- В левом меню → Credentials → New\n- Выбери `Telegram API` → вставь токен\n- Привяжи к нодам `Telegram Trigger` и `Telegram`\n\n**3. Узнай свой Telegram User ID:**\n- Напиши [@userinfobot](https://t.me/userinfobot) → он пришлёт твой `id`\n- Вставь это число в ноду **IF** → поле `Value 2`\n\n**4. Активируй workflow** (переключатель Active вверху справа)",
        "height": 380,
        "width": 440,
        "color": 4
      },
      "id": "a1b2c3d4-e5f6-4890-abcd-ef1234567801",
      "name": "Sticky Note — Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-480, -160],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "b2c3d4e5-f6a7-4901-bcde-f12345678902",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [0, 0],
      "webhookId": "a7b8c9d0-e1f2-4567-a890-123456789007",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-0001-personal-filter",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": "YOUR_TELEGRAM_USER_ID",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4012-cdef-123456789003",
      "name": "Only My Messages",
      "type": "n8n-nodes-base.if",
      "position": [240, 0],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful personal assistant. Be concise, friendly and answer in the same language the user writes in."
        }
      },
      "id": "d4e5f6a7-b8c9-4123-def0-234567890004",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [560, 0],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4234-ef01-345678900005",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [480, 280],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SKyvXEpn7akpT06y",
          "name": "OpenAi Demo Cred"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "f6a7b8c9-d0e1-4345-f012-456789010006",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [720, 280],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a7b8c9d0-e1f2-4567-b012-789012340007",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [800, 0],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Only My Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only My Messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1d2e3f4-a5b6-4789-cdef-012345678901",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "b68d0d63a3329edfb7c6361e26dbd7f08f814484813175415777752dcb23c39b"
  },
  "id": "",
  "tags": []
}
